body {
	margin:0px;
	background-color: #F5F5EC;
}

.jset-grid-container {
	padding: 5px;
}

label.jset-grid-searchall{
	padding: 0px 3px 0px 2px;
}

.jset-grid-searchall{
	font-size: 13px;
	padding: 2px 0 2px 0px;
}

.jset-grid-searchall input{
	width: 70%;
}

.ui-tabs .ui-tabs-nav{
	padding: 0;
}

.ui-tabs.ui-corner-all, .ui-tabs-nav.ui-corner-all{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.ui-tabs-nav.ui-widget-header {
    background: none;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 0.2em 0.5em;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected,
	
table.EditTable {
	background-color: #F9F8F6
}

.FormGrid tr.FormData{
	background-color: #00FFFF;
}

.ui-tabs {
    padding: 0;
}

.ui-tabs .ui-tabs-panel {
	padding: 2px;
}

.ui-jqdialog .ui-jqdialog .ui-jqdialog-titlebar{
	padding: 0 0.2em;
}

.ui-jqdialog .ui-jqdialog-title {
	font-size: 14px;
	margin: 0;
	padding: 0 0.2em;
}

div.ui-jqgrid {
	padding-top:1px;
}

.ui-jqgrid .ui-jqgrid-btable{
	border-collapse: separate;
}

.ui-jqdialog-content td.EditButton {
	padding: 5px;
}

.ui-datepicker {
	z-index: 950;
}

.altclass {
	background:#FFFFDD;
}

/* multiselect styles */
.multiselect {
	width: 460px;
	height: 200px;
}

.ui-jqdialog {
	padding: 0;
}

.ui-jqdialog-content .CaptionTD {
	vertical-align:middle;
	font-size:1.1em;
	font-weight:800;
	padding: 0 10px 0 0;
	border-top: 1px solid #A6C9E2; 	
}

.ui-jqdialog-content .DataTD{
	padding: 10px 0 10px 0;
	border-top: 1px solid #A6C9E2;
}

.ui-jqdialog-content .FormElement {
	display: inline-block;
	width: inherit;
	vertical-align:text-top;
}

.ui-jqdialog-content, .ui-jqdialog .ui-jqdialog-content{
	padding:0;
}

.ui-widget .ui-widget {
    font-size: 11px;
}

.ui-widget {
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}
.ui-menu .ui-menu-item a {
    display: block;
    line-height: 1em;
    padding: 0.2em 0.4em;
    text-decoration: none;
}

.ui-autocomplete {
	max-height: 180px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
  font-size: 0.8em;
}

.autocomplete-empty-list {
	border-color: red;
}

.error {
	padding:0 5px 0 5px;
	color: red;
}

.qq-trash-button {
    display: block;
    width: 105px;
    padding: 7px 0;
    text-align: center;
    background: #880000;
    border-bottom: 1px solid #DDD;
    color: #FFF;
}

.qq-progress-bar {
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
    width: 0%;
    height: 20px;
    border-radius: 6px;
    margin-bottom: 3px;
    display: none;
    color: white;
    padding: 0 0 0 2px;
}

.qq-trash-button-hover {
    background: #CC0000;
}
.qq-trash-button-focus {
    outline: 1px dotted #000000;
}

.jset-field-padding {
	padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
}

.input-elm .jset-field-padding {
	padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
}


.jset-field-readonly {
	background: #F0F0F0;
}

.CaptionField {
	color: #2E6E9E;
	vertical-align:middle;
	font-size:1.1em;
	font-weight:600;
	padding: 0px 2px 0px 2px;
	white-space: nowrap;
	/*border-top: 1px solid #A6C9E2; */	
}

.ui-tooltip {
    background: red;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
    font-size: 1em;
}
.ui-tooltip-content {
    position: relative;
    padding: 0.1em;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.right .ui-tooltip-content::after {
    top: 0.25em;
    left: -10px;
    border-color: transparent red;
    border-width: 10px 10px 10px 0;
}
.left .ui-tooltip-content::after {
    top: 0.25em;
    right: -10px;
    border-color: transparent red;
    border-width: 10px 0 10px 10px;
}
.top .ui-tooltip-content::after {
    bottom: -7px;
    left: 40px;
    border-color: red transparent;
    border-width: 10px 10px 0;    
}
.bottom .ui-tooltip-content::after {
    top: -10px;
    left: 72px;
    border-color: red transparent;
    border-width: 0 10px 10px;
}

.ui-jqgrid .ui-search-table .ui-search-oper {
	width: 0;
}

.ui-jqgrid .ui-paging-info {float:right}
.ui-jqgrid .ui-paging-info-selected {
		font-weight: normal;
		height: 19px; 
		margin-top: 3px;
		margin-right: 4px;
		float: left;
		text-align: left;
		padding-left: 4px;
		padding-right: 4px;
	}

ul#sopt_menu
{
	z-index:1000;
} 

table tr td .jset-multicheckbox{
	padding: 0 0 0 10px;
}

label.jset-multicheckbox{
	white-space:nowrap;
}

input[type='checkbox'].jset-multicheckbox{
	margin:0 0 5px 5px;
}

.ajust-appended-label{
	padding: 5px 4px 0px 2px;
}

.selectbox_plus-dialog .ui-dialog-content{
	padding: 0.2em 0 0 0;
}

.selectbox_plus-button{
	cursor: pointer;
    height: 25px;
    vertical-align: bottom;
    padding: 0 0.2em;
}

.ui-jqdialog .ui-jqconfirm {
	height: auto;
	width: auto;
}

.ui-widget-overlay.jqgrid-overlay {
    position: absolute;
}

img.sDataLoading {
	height:20px;
	vertical-align: middle;
	padding: 0 0 0 20px;
}

label.radio_label {
	padding: 0 20px 0 4px;
}

div.radiodiv {
	white-space: nowrap;
}

ul.jset-sortable {
	padding: 5px;
	background: #eee;
}

ul.jset-sortable > li {
	font-size: 15px;
	padding: 0 5px 0 5px;
}
