.ui-tabs {
	direction: rtl;
}

.ui-tabs .ui-tabs-nav li.ui-state-default {float: right; }
.ui-tabs .ui-tabs-nav li a { float: right; }

.selectbox_plus-dialog {
	direction:ltr;
}

.ui-dialog .ui-dialog-titlebar-close {
	left: .3em !important;
}

.ui-dialog .ui-dialog-title {
	float: right;
	margin: .1em 0 .1em .8em !important;
}

.ui-menu .ui-menu-item a {
    direction:rtl;
    text-align: right;
}

.ui-autocomplete {
	padding-right: 0px;
}

td.ltr{
	direction: ltr;
}

.top .ui-tooltip-content::after {
    bottom: -7px;
    left: auto;
    right: 10px;
    border-color: red transparent;
    border-width: 10px 10px 0;    
}
