.ui-tabs {
	direction: rtl;
}

.ui-tabs .ui-tabs-nav li.ui-state-default {float: right; }
.ui-tabs .ui-tabs-nav li a { float: right; }

.selectbox_plus-dialog {
	direction:ltr;
}

.ui-dialog .ui-dialog-titlebar-close {
	left: .3em !important;
}

.ui-dialog .ui-dialog-title {
	float: right;
	margin: .1em 0 .1em .8em !important;
}

.ui-menu .ui-menu-item a {
    direction:rtl;
    text-align: right;
}

.ui-autocomplete {
	padding-right: 0px;
}

label.radio_label {
	padding: 0 4px 0 20px;
}


