<link rel="stylesheet" type="text/css" media="screen" href="pane.css" />
<table id="TabPage_Applicant_Details" class="maxed Tab_Page">
	<colgroup>
		<col style="width: 33%;">
		<col style="width: 66%;">
	</colgroup>
	<tbody>
		<tr>
			<td id="First_Pane" class="app-pane panel-gradient">
				first td
			</td>
			<td class="v-top">
				<table class="x-maxed">
					<tbody>
						<tr>
							<td>
								inner td
							</td>
						</tr>
						<tr>
							<td id="Bottom_Pane" class="app-pane y-fit">
								inner td 2
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>